# **TUGAS AI 2 KNN**

Algoritma K-Nearest Neighbor (K-NN) adalah sebuah metode klasifikasi terhadap sekumpulan data berdasarkan pembelajaran  data yang sudah terklasifikasikan sebelumya. Termasuk dalam supervised learning, dimana hasil query instance yang baru diklasifikasikan berdasarkan mayoritas kedekatan jarak dari kategori yang ada dalam K-NN.

## **Import Library**

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import operator
import math
import csv

## **Data Train**

In [0]:
dataTrain = pd.read_csv('https://drive.google.com/uc?export=download&id=1aucpqYQ_xUpx-Txma50A-CQ6PAPYQVcK')
dataTrain.head(6)

   atribut 1  atribut 2  atribut 3  atribut 4  kelas
0       17.4     61.250       10.4       21.0      1
1       16.2     34.375       14.8       15.6      1
2       11.4     46.875       10.8        9.9      0
3       12.6     76.250       18.0       25.5      1
4       16.2     55.000        9.8       15.9      0
5        7.8     41.250       16.0        9.0      0

In [0]:
def datTrain(dataTrain):
  attribut_temp = []        
  class_temp = []
  for index, row in dataTrain.iterrows():
      attribut_temp.append([row['atribut 1'], row['atribut 2'], row['atribut 3'], row['atribut 4']])
      class_temp.append(row['kelas'])
  
  return [attribut_temp , class_temp]

## **Data Test**

In [0]:
dataTest = pd.read_csv('https://drive.google.com/uc?export=download&id=1dUYH43dX6nvvApXKRT_hXESv1ADFJJc7')
dataTest.head(6)

   atribut 1  atribut 2  atribut 3  atribut 4  kelas
0        8.4     54.375       13.6       13.5    NaN
1       10.8     67.500       14.4       22.2    NaN
2       21.6     62.500       13.6       20.7    NaN
3       10.8     46.875        9.0       16.8    NaN
4       10.8     58.750       14.2       13.5    NaN
5       21.6     61.875       11.2       18.3    NaN

In [0]:
def datTest(dataTest):
  attribut_temp = []        
  class_temp = []
  for index, row in dataTest.iterrows():
      attribut_temp.append([row['atribut 1'], row['atribut 2'], row['atribut 3'], row['atribut 4']])
      class_temp.append(row['kelas'])
  return [attribut_temp, class_temp]

## **Mencari Nilai K Terbaik**

In [0]:
def searchK(dataTrain):
    k_temp = []
    Akurasi_temp = []
    Prediksi_temp = []
    #k dimulai dari 3, 5, 7
    #range dari k sesuai spesifikasi perangkat
    for K in range(1,10):
        for i in range(len(dataTrain[0])):
            test_data = dataTrain[0][i]
  
            #menampung function knn
            nearestNeighbor = knn(dataTrain, test_data, K)
            
            #klasifikasi kelas
            pred = classClasific(nearestNeighbor)
            Prediksi_temp.append(pred) #kelas K
        
        #menghitung akurasinya    
        a = accuracyChecking(dataTrain[1], Prediksi_temp)
        Akurasi_temp.append(a)    
        k_temp.append(K)
        
        #kelas dibuat kosong lagi
        Prediksi_temp = []
        
    #akurasi tertinggi ditampung di variabel index    
    index = Akurasi_temp.index(max(Akurasi_temp))
    print('K terbaik =',k_temp[index],'Dengan Akurasi =',Akurasi_temp[index],'%')
    return k_temp[index]

## **Euclidiean Distance Function**

In [0]:
def euclidiean(a, b, length):
    dist = 0
    for i in range(length):
        dist += pow((float(a[i])-float(b[i])),2 )
    return math.sqrt(dist)

## **KNN**

In [0]:
def knn(dataTrain, test_data, K):
    distance_temp = []
    for i in range(len(dataTrain[0])):
        eu_temp = euclidiean(dataTrain[0][i], test_data, len(dataTrain[0][i]))
        distance_temp.append((dataTrain[0][i], eu_temp, dataTrain[1][i]))
    
    distance_temp.sort(key=operator.itemgetter(1))
    
    neighbors = []
    for i in range(K):
        neighbors.append((distance_temp[i][1], distance_temp[i][2]))
    return neighbors

## **Klasifikasi Kelas**

In [0]:
def classClasific(nn):
    voteClass_temp = {}
    for i in range(len(nn)):
        a = nn[i][-1]
        if a in voteClass_temp:
            voteClass_temp[a] = i+1
        else:
            voteClass_temp[a] = 1
    voteSort = sorted(voteClass_temp.items(), key=operator.itemgetter(1),reverse=True)
    return voteSort [0][0]

## **Akurasi**

In [0]:
def accuracyChecking(data, prediksi):
    true = 0
    for i in range(len(prediksi)):
        if data[i] == prediksi[i]:
            true = i + 1
    return (true/float(len(data)))*100

## **MAIN**

In [0]:
#Data Train
data_train = datTrain(dataTrain)

validationData = [data_train[0][:4000], data_train[1][:4000]]

#mencari nilai k
K = searchK(validationData)

#Data Test
data_test = datTest(dataTest)

predictionDataTest = [data_test[0][:1000], data_test[1][:1000]]

prediction_temp = []

for i in range(len(predictionDataTest[0])):
    test_data = predictionDataTest[0][i]
    NN = knn(validationData, test_data, K)
    prediction = classClasific(NN)
    prediction_temp.append(prediction)

prediction_temp=list(map(int,prediction_temp))
attribut= predictionDataTest[0]

result_temp = { 'Attr1,Attr2,Attr3,Attr4': attribut , 'Class': prediction_temp}

result = pd.DataFrame(result_temp)

K terbaik = 3 Dengan Akurasi = 99.97500000000001 %

##**Data Prediksi**

In [0]:
result.head(len(result))

        Attr1,Attr2,Attr3,Attr4  Class
0     [8.4, 54.375, 13.6, 13.5]      0
1      [10.8, 67.5, 14.4, 22.2]      0
2      [21.6, 62.5, 13.6, 20.7]      0
3     [10.8, 46.875, 9.0, 16.8]      0
4     [10.8, 58.75, 14.2, 13.5]      0
5    [21.6, 61.875, 11.2, 18.3]      0
6     [6.0, 54.375, 14.2, 18.3]      0
7       [7.8, 45.0, 10.2, 21.6]      0
8      [21.0, 42.5, 14.6, 18.3]      0
9      [6.0, 58.75, 12.8, 21.3]      0
10   [20.4, 73.125, 10.8, 21.6]      1
11      [6.6, 67.5, 14.8, 21.0]      1
12   [10.8, 39.375, 10.6, 23.1]      0
13   [10.2, 53.125, 12.4, 19.2]      0
14    [7.2, 54.375, 10.8, 18.6]      0
15   [21.6, 73.125, 14.8, 21.9]      0
16    [18.6, 70.625, 8.8, 18.6]      1
17      [6.6, 45.0, 15.0, 21.0]      0
18   [10.8, 55.625, 11.6, 19.2]      0
19     [7.2, 33.75, 14.0, 23.7]      0
20    [19.2, 49.375, 8.8, 21.0]      1
21     [19.2, 72.5, 11.6, 21.0]      1
22    [6.6, 60.625, 13.2, 15.0]      1
23     [8.4, 55.625, 9.8, 12.6]      0
24    [12.0, 53.75, 10.2, 20.1]      0
25     [14.4, 40.0, 13.8, 16.2]      0
26     [21.6, 80.0, 10.8, 24.0]      0
27    [21.0, 38.75, 12.4, 21.6]      0
28    [6.6, 35.625, 11.6, 19.8]      0
29   [18.0, 80.625, 11.8, 24.0]      1
..                          ...    ...
970   [10.2, 33.75, 10.2, 19.5]      0
971  [22.2, 64.375, 15.6, 19.5]      1
972  [10.8, 38.125, 13.4, 21.0]      0
973  [10.2, 60.625, 10.4, 18.0]      0
974   [6.0, 55.625, 11.8, 23.7]      0
975     [7.8, 66.25, 9.4, 13.2]      0
976    [7.2, 63.75, 14.4, 22.5]      0
977    [22.8, 75.0, 13.2, 21.0]      1
978   [21.6, 61.25, 13.2, 18.3]      1
979    [11.4, 55.0, 14.6, 14.4]      0
980   [8.4, 69.375, 14.4, 15.6]      1
981  [18.0, 46.875, 14.4, 21.9]      1
982    [19.2, 42.5, 13.6, 22.8]      0
983   [6.0, 50.625, 13.0, 19.2]      0
984     [21.6, 40.0, 9.2, 22.2]      0
985  [22.2, 53.125, 13.0, 20.1]      1
986   [11.4, 45.625, 8.8, 12.6]      0
987   [9.6, 38.125, 15.8, 16.5]      0
988   [7.8, 41.875, 14.2, 18.0]      0
989   [6.6, 38.125, 14.8, 16.8]      0
990   [18.0, 44.375, 9.4, 21.6]      0
991  [22.8, 49.375, 11.6, 21.6]      1
992  [23.4, 50.625, 10.4, 19.2]      1
993     [21.6, 67.5, 8.0, 20.4]      1
994    [9.6, 46.25, 14.4, 14.1]      0
995  [19.8, 59.375, 13.6, 21.6]      0
996    [20.4, 62.5, 11.2, 22.8]      1
997    [6.0, 38.125, 8.0, 15.6]      0
998    [20.4, 52.5, 14.8, 22.5]      1
999   [24.0, 66.25, 16.0, 23.4]      1

[1000 rows x 2 columns]